<nav class="nav nav--bar" role="navigation">
    <a class="nav__logo" href="/" data-dropdown="">
        <img src="/assets/images/logo.png" alt="coreJS">core
        <span>JS</span>

    </a>


    <select class="nav__menu--mobile visible-xs">
        <option value="">Menu</option>
        <option value="/quickstart">Primeros Pasos</option>
        <option value="/docs">Documentación</option>
        <option value="https://bqreaders.ci.cloudbees.com/view/coreJS/">Integración Continua</option>
        <option value="https://jira.bq.com/secure/RapidBoard.jspa?rapidView=147">Asistencia</option>
        <option value="/jsdoc/">API Reference</option>
    </select>



    <ul class="nav__menu hidden-xs">
        <li class="nav__menu__item">
            <a href="/quickstart" class="nav__menu__link" data-dropdown="">Primeros Pasos</a>
        </li>
        <li class="nav__menu__item">
            <a href="/docs" class="nav__menu__link" data-dropdown="">Documentación</a>
            <ul id="menu1" class="nav__submenu" role="menu">
                <li class="nav__submenu__item">
                    <a href="/setup" class="nav__submenu__link">Entorno de Desarrollo</a>
                </li>
                <li class="nav__submenu__item">
                    <a href="/overview" class="nav__submenu__link">Framework</a>
                </li>
                <li class="nav__submenu__item">
                    <a href="/modules_development" class="nav__submenu__link">Desarrollo de Módulos</a>
                </li>
                <li class="nav__submenu__item">
                    <a href="/customization" class="nav__submenu__link">Personalización</a>
                </li>
                <li class="nav__submenu__item">
                    <a href="/i18n" class="nav__submenu__link">i18n</a>
                </li>
                <li class="nav__submenu__item">
                    <a href="/conventions_styles" class="nav__submenu__link">Convenciones y Estilos</a>
                </li>
                <li class="nav__submenu__item">
                    <a href="/testing" class="nav__submenu__link">Pruebas</a>
                </li>
                <li class="nav__submenu__item">
                    <a href="/grunt" class="nav__submenu__link">Automatización</a>
                </li>
        </li>
        </ul>
        </li>
        <li class="nav__menu__item">
            <a href="https://bqreaders.ci.cloudbees.com/view/coreJS/" class="nav__menu__link" data-dropdown="">Integración Continua</a>
        </li>
        <li class="nav__menu__item">
            <a href="/jsdoc/" class="nav__menu__link" data-dropdown="">API Reference</a>
        </li>
        <li class="nav__menu__item">
            <a href="https://jira.bq.com/secure/RapidBoard.jspa?rapidView=147" class="nav__menu__link" data-dropdown="">Asistencia</a>
        </li>
        <!-- <li class="nav__menu__item">
            <a href="/docs" class="nav__menu__link" data-dropdown="#">Colaboradores</a>
            <ul id="menu1" class="nav__submenu" role="menu">
                <li class="nav__submenu__item"><a href="#" class="nav__submenu__link">Muy pronto...</a>
                </li>
            </ul>
        </li> -->
    </ul>
</nav>