--- 
layout: index
---

<div class="post-header sidebar hidden-xs">
    <!-- <a id="blog-logo" href="{{ site.root }}">
        {% if site.logo %}
            <img src="{{site.logo}}" alt="{{ site.name }}" />
        {% else %}
            <span class="blog-title">coreJS</span>
        {%endif%} 
    </a> -->
    <div id="toc"></div>
</div>

<main class="content content-doc" role="main">
    <article class="post">

        <section class="post-content">
            {{content}}
        </section>

    </article>

</main>
